<%- include("header"); -%>
<main class="box">
  <h1 class="title">About the ToDo Planner App</h1>
  <p>Boost your productivity with <strong>ToDo Planner</strong>.</p>
  <p>Manage your tasks with lists for each day.</p>
  <p>Tap <strong>"Home"</strong> to check your tasks for today.</p>
  <h4>Features:</h4>
  <ul class="list-about">
    <li>
      <i class="fas fa-calendar-day fa-lg"></i>&nbsp;Pick a date you want to add
      a task to.
    </li>
    <li>
      <i class="fas fa-calendar-plus fa-lg"></i>&nbsp;Add one or more tasks.
    </li>
    <li><i class="fas fa-trash-alt fa-lg"></i>&nbsp;Delete completed tasks.</li>
  </ul>
</main>

<%- include("footer"); -%>
