<%- include("header"); -%>
<main class="box contact">
  <h1 class="title">Do you want to leave feedback?</h1>
  <p>
    Get in touch on
    <a href="https://www.instagram.com/todo__planner/">Instagram</a>.
  </p>
</main>

<%- include("footer"); -%>
