<!-- add links to social media!! -->

<div class="social-media-icons">
  <a href="https://www.instagram.com/todo__planner/"><i class="fab fa-instagram-square"></i></a>
  <!-- <a href="#"><i class="fab fa-facebook-square"></i></a>
  <a href="#"><i class="fab fa-github-square"></i></a> -->
</div>
</div>
<footer>
  Copyright 2020 ToDo Planner
</footer>
</body>

</html>
